# Auxiliar LaTeX files generated while compiling.
*.aux
*.equ
*.fdb_latexmk
*.fls
*.lof
*.out
*.gz
*.toc
*.log
*.glsdefs
*.glo
*.acn
*.ist

# Python Files
app/src/__pycache__/
app/src/libs/__pycache__/
env/
app/env/


# Front End
# Logs
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
web/dist
web/dist-ssr
web/*.local

web/package-lock.json

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
