<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generative Calendar</title>

    <!-- Developement Script - remove on deployment. -->

    <script>
        function handler_load_error(target, correct_uri) {
            const node_to_generated = target.nodeName.toLocaleLowerCase()
            target.remove()
            const new_script_reference = document.createElement(node_to_generated)
            if (node_to_generated === 'script') {
                console.warn(`Error al cargar el recurso: ${target.src} \nAñadiendo: ${window.location.protocol}//${window.location.hostname}/${correct_uri}`);
                new_script_reference.src = '../public/' + correct_uri;
                new_script_reference.type = 'module'
            } else if ('link') {
                console.warn(`Error al cargar el recurso: ${target.href} \nAñadiendo: ${window.location.protocol}//${window.location.hostname}/${correct_uri}`);
                new_script_reference.rel = 'stylesheet'
                new_script_reference.href = '../public/' + correct_uri
            }
            document.body.appendChild(new_script_reference);
        }
    </script>

    <!-- External - Google Font for  "Mohave". -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap"
        rel="stylesheet">

    <!-- Internal Styles - General Styles -->
    <link rel="stylesheet" href="/statics/styles/main.css" onerror="handler_load_error(this, 'styles/main.css')">

</head>

<body>

    <nav>
        <h1>Generative Calendar</h1>
        <a href="https://github.com/GJZ26/Generative-Calendar" target="_blank">Source</a>
    </nav>

    <main>
        <section>
            <h2>Seleccione su estado actual.</h2>
            <div class="calendars-container">

                <div class="calendar">
                    <span class="title">Cuatrimestre 1</span>
                    <div class="asignatures">
                        <span class="approved">Materia 1</span>
                        <span>Materia 2</span>
                        <span class="failed">Materia 3</span>
                        <span>Materia 4</span>
                        <span>Materia 5</span>
                        <span class="unavailable">Materia 6</span>
                        <span>Materia 7</span>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <h2>Preferencias</h2>

            <div class="horizontal-container">

                <div class="stress">
                    <span class="as-label">Nivel de estrés</span>
                    <label class="as-input">
                        Bajo
                        <input type="radio" name="stress">
                    </label>

                    <label class="as-input">
                        Normal
                        <input type="radio" name="stress" checked>
                    </label>

                    <label class="as-input">
                        Alto
                        <input type="radio" name="stress">
                    </label>
                </div>

                <label>
                    Cuatrimestre actual
                    <select name="cuatrimestre" id="cuatrimestre">
                        <option value="1">1°</option>
                        <option value="2">2°</option>
                        <option value="3">3°</option>
                        <option value="4">4°</option>
                        <option value="5">5°</option>
                        <option value="6">6°</option>
                        <option value="7">7°</option>
                        <option value="8">8°</option>
                        <option value="9">9°</option>
                    </select>
                </label>
            </div>

        </section>
        <section>
            <h2>Opciones avanzadas</h2>

            <div class="custom-container">

                <div class="child-container">
                    <label>
                        Numero de generaciones
                        <input type="number" id="generation_number" value="100" min="0" max="120">
                    </label>

                    <label>
                        Población inicial
                        <input type="number" id="initial_population" value="10" min="1" max="100">
                    </label>

                    <label>
                        Población máxima
                        <input type="number" id="max_population" value="40" min="1" max="100">
                    </label>
                </div>

                <div class="child-container">
                    <label>
                        Cantidad de bits*
                        <input type="number" id="bit_size" value="7" min="1" max="12">
                    </label>

                    <label>
                        Probabilidad de mutación (gen)
                        <input type="number" id="gen_mutation_prob" value="0.5" min="0" max="1" step="0.01">
                    </label>

                    <label>
                        Probabilidad de mutación (individuos)
                        <input type="number" id="individual_mutation_prob" value="0.3" min="0" max="1" step="0.01">
                    </label>
                </div>


                <div class="child-container">
                    <label>
                        Resolución Inicial
                        <input type="number" id="initial_resolution" value="0.25" min="0" max="1" step="0.01">
                    </label>
                </div>

            </div>
        </section>
        <div class="button-container">
            <button class="main">Generar horario</button>
            <button class="secondary">Ver materias</button>
        </div>
    </main>

</body>

<script type="module" src="/statics/scripts/main.js" onerror="handler_load_error(this, 'scripts/main.js')"></script>

</html>